parameters:
    bootstrap: %currentWorkingDirectory%/tests/bootstrap.php
    checkGenericClassInNonGenericObjectType: false
    level: max
    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

